<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Input</title>
</head>
<body>
<h2>Word Input</h2>
<form action="/getWord" method="post">
    <p th:text="${GivenHints}" style="color: Green"></p>
    <label for="word">Deside Your Word:</label>
    <input type="text" id="word" name="word" required>
    <br>
    <button type="submit">Submit Your Guess</button>
</form>
<p th:text="${message}" style="color: red"></p>
</body>
</html>
